{% extends 'main.html' %}
{% load format_data %} 

{% block subclasses %} 
settings
{% endblock subclasses %}

{% block main %} 
<main class="main">
  <div class="settings__container">
    <form action="change-password" class="settings__form" method="POST">
      {% csrf_token %}

      <div class="settings__input-boxes">
        <div class="settings__box">
          <h2 class="settings__header">Şifre Değiştir</h2>
          <div class="settings__inputs form__inputs">
            <div class="settings__input-box form__input-box">
              <label for="username" class="settings__form-label form__label"
                >Eski Kullanıcı Şifresi:</label
              >
              <input
                type="password"
                name="old-password"
                id="old-password"
                class="settings__form-input form__input"
                placeholder="******"
                
                required
              />
            </div>
            <div class="settings__input-box form__input-box">
              <label for="username" class="settings__form-label form__label"
                >Kullanıcı Şifresi:</label
              >
              <input
                type="password"
                name="new-password"
                id="new-password"
                class="settings__form-input form__input"
                placeholder="******"
                pattern="^(?=.*\d{1})(?=.*[a-z]{1})(?=.*[A-Z]{1})(?=.*[!@#$%^&*{|}?~_=+.-]{1})(?=.*[^a-zA-Z0-9])(?!.*\s).{5,30}$"

                required
              />
            </div>
            <div class="settings__input-box form__input-box">
              <label for="username" class="settings__form-label form__label"
                >Kullanıcı Şifresi (Re):</label
              >
              <input
                type="password"
                name="new-password-re"
                id="new-password-re"
                class="settings__form-input form__input"
                placeholder="******"
                pattern="^(?=.*\d{1})(?=.*[a-z]{1})(?=.*[A-Z]{1})(?=.*[!@#$%^&*{|}?~_=+.-]{1})(?=.*[^a-zA-Z0-9])(?!.*\s).{5,30}$"

                required
              />
            </div>
            <div class="settings__input-box form__input-box">
              <label for="username" class="settings__form-label form__label"
                >2FA Doğrulama Kodu:</label
              >
              <input
                type="text"
                name="verification-code"
                id="verification-code"
                class="settings__form-input form__input"
                placeholder="******"
                
              
              />
            </div>
          </div>
        </div>
      </div>
      <div class="form__buttons">
        <div class="first-btn-row">
          <input
            type="submit"
            value="Değiştir"
            class="form__cta-btn form__btn"
          />
          <a href="/user-preferences" class="form__semi-btn form__btn"
            >Hesap Ayarları</a
          >
        </div>
      </div>
    </form>
  </div>
</main>
{% endblock main %}