{% extends 'main.html' %}

{% block main %} 
<main class="main">
    <div class="main__nav">
      <ul class="nav-box__list">
        <li class="nav-box">
          <a href="#" class="work-link">
            <div class="work-topic">
              <i class="ph-plus work-icon"></i>
              <h2 class="work-header">Sınıf Ekle</h2>
              <p class="work-description">
                Sınıfları kaydetmek için yeni bir şifre oluştur
              </p>
            </div>
          </a>
        </li>
        <li class="nav-box">
          <a href="#" class="work-link">
            <div class="work-topic">
              <i class="ph-screencast work-icon"></i>
              <h2 class="work-header">Tahtalara Bağlan</h2>
              <p class="work-description">
                Tehlike anında akıllı tahtalar aracılığıyla iletişim kur
              </p>
            </div>
          </a>
        </li>
        <li class="nav-box">
          <a href="#" class="work-link">
            <div class="work-topic">
              <i class="ph-warning work-icon"></i>
              <h2 class="work-header">Deprem Var</h2>
              <p class="work-description">
                Deprem olduğu anda tüm kurumu hemen bilgilendir
              </p>
            </div>
          </a>
        </li>
        <li class="nav-box">
          <a href="#" class="work-link">
            <div class="work-topic">
              <i class="ph-phone work-icon"></i>
              <h2 class="work-header">Acil Durum Bildir</h2>
              <p class="work-description">
                Tehlikeyi acil çağrı merkezlerine bildir
              </p>
            </div>
          </a>
        </li>
        <li class="nav-box">
          <a href="#" class="work-link">
            <div class="work-topic">
              <i class="ph-pencil work-icon"></i>
              <h2 class="work-header">Okulu Düzenle</h2>
              <p class="work-description">
                Okulun fiziksel yapısını ve şeklini değiştir
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="main__classes">
      <table class="classes">
        <thead>
          <td>Sınıf Adı</td>
          <td>Bağlantı</td>
          <td>Son Denetleme</td>
          <td>Kayıt Tarihi</td>
          <td>Tahliye Çıkışı</td>
          <td></td>
        </thead>
  
        <tbody>
          <tr>
            <td>9-C</td>
            <td>Bağlantı var</td>
            <td>3 sa. önce</td>
            <td>21.10.22 - 08.11</td>
            <td>Zemin Kat Çıkışı</td>
            <td class="edit-icon-box">
              <a href="#" class="edit-icon-btn">
                <i class="ph-pencil-bold edit-icon"></i>
              </a>
              <a href="#" class="delete-icon-btn">
                <i class="ph-trash-bold delete-icon"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>9-C</td>
            <td>Bağlantı var</td>
            <td>3 sa. önce</td>
            <td>21.10.22 - 08.11</td>
            <td>Zemin Kat Çıkışı</td>
            <td class="edit-icon-box">
              <a href="#" class="edit-icon-btn">
                <i class="ph-pencil-bold edit-icon"></i>
              </a>
              <a href="#" class="delete-icon-btn">
                <i class="ph-trash-bold delete-icon"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>9-C</td>
            <td>Bağlantı var</td>
            <td>3 sa. önce</td>
            <td>21.10.22 - 08.11</td>
            <td>Zemin Kat Çıkışı</td>
            <td class="edit-icon-box">
              <a href="#" class="edit-icon-btn">
                <i class="ph-pencil-bold edit-icon"></i>
              </a>
              <a href="#" class="delete-icon-btn">
                <i class="ph-trash-bold delete-icon"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>9-C</td>
            <td>Bağlantı var</td>
            <td>3 sa. önce</td>
            <td>21.10.22 - 08.11</td>
            <td>Zemin Kat Çıkışı</td>
            <td class="edit-icon-box">
              <a href="#" class="edit-icon-btn">
                <i class="ph-pencil-bold edit-icon"></i>
              </a>
              <a href="#" class="delete-icon-btn">
                <i class="ph-trash-bold delete-icon"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>9-C</td>
            <td>Bağlantı var</td>
            <td>3 sa. önce</td>
            <td>21.10.22 - 08.11</td>
            <td>Zemin Kat Çıkışı</td>
            <td class="edit-icon-box">
              <a href="#" class="edit-icon-btn">
                <i class="ph-pencil-bold edit-icon"></i>
              </a>
              <a href="#" class="delete-icon-btn">
                <i class="ph-trash-bold delete-icon"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
{% endblock main %}