/* Main  */

.header__logo {
  transition: all 0.2s ease;
  height: 90%;
  width: 90%;
  margin-top: 1.5rem;
}

.header__logo:hover {
  opacity: 0.8;
}

.main {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.header {
  display: flex;
  justify-content: center;
}

.header__logo path {
  fill: black;
}

/* FOOTER  */

.footer__copyright-text {
  color: #777;
}
