.heading--primary {
  font-size: 5rem;
  font-weight: 700;
  color: #222;
}

.heading--bordered {
  position: relative;
}

.heading--bordered::after {
  position: absolute;
  content: "";
  left: -10%;
  bottom: -1rem;
  width: 120%;
  height: 2px;
  background-color: #333;
}

/* FORM INPUTS  */

.main__form {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.register .form__inputs {
  display: grid;
  grid-template-areas: "username fullname" "email phonenumber" "password repassword" "schoolname schoolname";
}

.form__username-box {
  grid-area: username;
}

.form__fullname-box {
  grid-area: fullname;
}

.form__email-box {
  grid-area: email;
}

.form__phonenumber-box {
  grid-area: phonenumber;
}

.form__password-box {
  grid-area: password;
}

.form__repassword-box {
  grid-area: repassword;
}

.form__schoolurl-box {
  grid-area: schoolname;
  justify-content: center !important;
}

.form__schoolurl {
  width: 30rem !important;
}

.form__input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.form__label {
  font-size: 1.8rem;
  font-weight: 500;
}

.form__input {
  background-color: #051422;
  color: #f8fcff;
  font: inherit;
  width: 20rem;
  height: 4rem;
  outline: none;
  border: 3px solid transparent;
  border-radius: 5px;
  padding-left: 1rem;
  transition: border 0.25s ease;
}

.form__input-invalid {
  border: 3px solid #c92a2a !important;
}

.form__input-valid {
  border: 3px solid #2b8a3e !important;
}

.form__input:focus:invalid {
  outline: none;
  border: 3px solid #c92a2a;
}

.form__input:focus:valid {
  outline: none;
  border: 3px solid #2b8a3e;
}

.form__password-inner-box {
  position: relative;
}

.form__password-show-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

/* BUTTONS  */

.form__buttons {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.form__btn {
  padding: 1.3rem 2.6rem;
  border-radius: 7px;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.2s ease-in-out;
}

.form__cta-btn {
  background-color: #345abc;
  color: #e8f0f7;
  border: none;
  outline: none;
  color: #e8f0f7;
  border: 3px solid transparent;
}

.form__cta-btn:focus {
  border: 3px solid #859cd7;
}

.form__cta-btn:hover {
  background-color: #486bc3;
}

.form__semi-btn:link,
.form__semi-btn:visited {
  text-decoration: none;
  color: #222;
  border: 3px solid transparent;
}

.form__semi-btn:hover,
.form__semi-btn:active {
  color: #555;
}

.form__semi-btn:focus {
  border: 3px solid #555;
}

.form__forgot-password-btn:link,
.form__forgot-password-btn:visited {
  color: #777;
  text-decoration: none;
  font-weight: 400;
}

.form__forgot-password-btn:link strong,
.form__forgot-password-btn:visited strong {
  color: #666;
  font-weight: 500;
}

/*  NAV BOX  */

.nav-box__list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.work-topics {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.work-topic {
  background-image: linear-gradient(to left top, #93e1fa, #3889cd);
  width: 25rem;
  height: 25rem;
  border-radius: 11px;
  color: #fff4e6;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-icon {
  font-size: 7.5rem;
}

.work-header {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 3.4rem;
  margin-bottom: 1rem;
}

.work-description {
  font-size: 1.6rem;
  font-weight: 400;
  width: 80%;
}

.work-link {
  text-decoration: none;
}
