{% extends 'base.html' %} {% load format_data %} {% block head %}
<link rel="stylesheet" href="/static/styles/index.css" />

<style>
  html {
    overflow: hidden;
  }
</style>

{% endblock %} {% block content %}

<div class="wrapper settings">
  <div class="greeting">
    <div class="greeting__start">
      <p class="greeting__welcome-text">Hoş geldin {{ full_name }},</p>
      <p class="greeting__welcome-label">
        Aşağıdaki panelden isteğine göre seçim yapabilirsin.
      </p>
    </div>

    <div class="greeting__end">
      <a href="/" class="greeting__school"
        >{% format_school_name school.school_name %}</a
      >
      <nav class="greeting__nav">
        <ul class="greeting__nav-list">
          <li class="greeting__nav-el">
            <a href="user-preferences" class="greeting__nav-link">Ayarlar</a>
          </li>
          <li class="greeting__nav-el">
            <a href="logout" class="greeting__nav-link">Oturumu Kapat</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <main class="main">
    <div class="settings__container">
      <form action="#" class="settings__form" method="POST">
        {% csrf_token %}

        <div class="settings__input-boxes">
          <div class="settings__box">
            <h2 class="settings__header">Şifre Değiştir</h2>
            <div class="settings__inputs form__inputs">
              <div class="settings__input-box form__input-box">
                <label for="username" class="settings__form-label form__label"
                  >Kullanıcı Adı:</label
                >
                <input
                  type="text"
                  name="username"
                  id="username"
                  class="settings__form-input form__input"
                  placeholder="{{ username }}"
                  value="{{ username }}"
                />
              </div>
              <div class="settings__input-box form__input-box">
                <label for="username" class="settings__form-label form__label"
                  >İsim & Soyisim:</label
                >
                <input
                  type="text"
                  name="username"
                  id="username"
                  class="settings__form-input form__input"
                  placeholder="{{ full_name }}"
                  value="{{ full_name }}"
                />
              </div>
              <div class="settings__input-box form__input-box">
                <label for="username" class="settings__form-label form__label"
                  >Elektronik Posta:</label
                >
                <input
                  type="text"
                  name="username"
                  id="email"
                  class="settings__form-input form__input"
                  placeholder="{{ email }}"
                  value="{{ email }}"
                />
              </div>
              <div class="settings__input-box form__input-box">
                <label for="username" class="settings__form-label form__label"
                  >Telefon Numarası:</label
                >
                <input
                  type="tel"
                  onkeyup="phoneNumberFormatter()"
                  name="username"
                  id="phonenumber"
                  class="settings__form-input form__input form__phonenumber"
                  placeholder="{{ phone_number }}"
                  value="{{ phone_number }}"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="form__buttons">
          <div class="first-btn-row">
            <input
              type="submit"
              value="Değiştir"
              class="form__cta-btn form__btn"
            />
            <a href="user-preferences" class="form__semi-btn form__btn"
              >Hesap Ayarları</a
            >
          </div>
        </div>
      </form>
    </div>
  </main>

  <footer class="footer">
    <p class="footer__copyright-text">
      Girdiğiniz bilgilerin doğruluğundan ve uygunluğundan “Tübitak Projesi” ve
      geliştiricileri sorumlu değildir. <br />Copyrighted by Tübitak Projesi.
    </p>
  </footer>
</div>

{% endblock content %}
